//output:index.html
doctype html
html
  head
    meta(charset='utf8')
    link(rel='stylesheet' href='https://getuikit.com/assets/uikit/dist/css/uikit.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    title SM Hacks LIVE
  body.uk-background-muted
    nav.uk-navbar-container(uk-navbar=true)
      .uk-navbar-left
        a.uk-navbar-item.uk-logo(href='#')
          |SM Hacks LIVE&nbsp;
          i.fa.fa-video-camera
      .uk-navbar-right
        ul.uk-navbar-nav
          li: a(href='#nav' uk-toggle=true)
            i.fa.fa-bars.fa-2x

    .uk-container(style='margin-top:20px')
      .uk-grid-medium(uk-grid=true)
        div(class='uk-width-expand@m'): .uk-card.uk-card-default.uk-card-body
          h1.uk-text-center.uk-text-warning Only 
            b#hh.uk-text-danger HH
            |:
            b#mm.uk-text-danger MM
            |:
            b#ss.uk-text-danger SS
            span#ev &nbsp;until hacking starts!
      .uk-grid-medium(uk-grid=true)
        div(class='uk-width-expand@m'): .uk-card.uk-card-default.uk-card-body
          h1 To all attendees
          p Oh man, it's almost hacking time! I'm sure we're all quite excited to get going, but there are some things you should be aware of beforehand.
          h2 Things to bring
          ul
            li Student ID
            li Completed waiver
            li Computer, phone, chargers, and headphones
            li Sleeping bag
            li Optional change of clothes, toiletries
            li Any gadgets you want to use in projects
            li Positive energy!
          p We provide food and drink.
          h2 Wifi
          p The venue wifi will not be able to support all attendees without slowing down significantly. Thus, we ask that you download all necessary software and documentation ahead of time and use hotspots / turn off wifi when possible. Even better, bring a router! These measures will ensure that everyone has the optimal hacking experience.
          h2 Final notes
          p Important links are in the sidebar activated by <i class='fa fa-bars'></i>. Make sure to join the Slack and sign the waiver before coming to Informatica. It is also highly recommended that you get the iOS app to receive push notifications during the event.
        div(class='uk-width-auto@m')
          .uk-card.uk-card-default.uk-card-body <a class="twitter-timeline" data-height="400" data-theme="light" data-link-color="#E95F28" href="https://twitter.com/sanmateohacks">Tweets by sanmateohacks</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          br
          .uk-card.uk-card-default.uk-card-body
            h1 Next events
            p <code>10:00am</code> - Mentor Check-In
            p <code>10:30am</code> - Hacker Check-In
            p <code>11:15am</code> - Opening Ceremony
            p <code>12:00am</code> - Start Hacking, Team Mixer, Lunch
    
    #nav(uk-offcanvas='overlay:true;flip:true;mode:reveal')
      .uk-offcanvas-bar
        p: a(href='https://smhacks.devpost.com/' target='_blank')
          i.fa.fa-code.fa-fw
          |&nbsp;Devpost
        p: a(href='https://drive.google.com/file/d/0B6tVJ5ml7Bt4NjBlbXNXcEZsUE0/view?usp=sharing' target='_blank')
          i.fa.fa-map.fa-fw
          |&nbsp;Floor plan
        p: a(href='http://waiver.smhacks.com' target='_blank')
          i.fa.fa-file-text.fa-fw
          |&nbsp;Waiver
        hr
        p: a(href='https://itunes.apple.com/us/app/sm-hacks/id1193112362' target='_blank')
          i.fa.fa-apple.fa-fw
          |&nbsp;iOS App
        p: a(href='https://facebook.com/sanmateohacks' target='_blank')
          i.fa.fa-facebook.fa-fw
          |&nbsp;Facebook
        p: a(href='https://twitter.com/sanmateohacks' target='_blank')
          i.fa.fa-twitter.fa-fw
          |&nbsp;Twitter
        p: a(href='http://slack.smhacks.com' target='_blank')
          i.fa.fa-slack.fa-fw
          |&nbsp;Slack
        
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://getuikit.com/assets/uikit/dist/js/uikit.js')
    script.
      setInterval(function(){
        if(new Date()<1484424e6)
          ms=new Date(new Date()<1484424e6?1484424e6:14845104e5)-new Date(),
          hh.innerHTML=('00'+(ms/36e5|0)).slice(-2),
          mm.innerHTML=('00'+(ms/6e5%60|0)).slice(-2),
          ss.innerHTML=('00'+(ms/1e3%60|0)).slice(-2),
          new Date()<1484424e6||(ev.innerHTML='&nbsp;until hacking ends!');
      },1)